<h2 class="title">Reiniciar contraseña</h2>
<mat-card>
  <mat-card-content>
    <form class="flex justify-between flex-wrap">
      <mat-form-field class="sm:w-[45%]">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Nueva contraseña" type="password" />
        <mat-error
          >La contraseña debe contener: 8 caracteres de longitud, una letra
          mayúscula , una letra minúscula, al menos un numero, un carácter
          especial (por ejemplo, !#$%^&*).
        </mat-error>
      </mat-form-field>
      <mat-form-field class="sm:w-[45%] w-full">
        <mat-label>Confirmar contraseña</mat-label>
        <input matInput placeholder="Confirmar contraseña" type="password" />
      </mat-form-field>
    </form>
    <section class="flex w-full flex-wrap justify-end">
      <button
        class="ml-[5px]"
        mat-raised-button
        color="warn"
        type="button"
        routerLink="/home"
      >
        Cancelar
      </button>
      <button
        class="ml-[5px]"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        Enviar
      </button>
    </section>
  </mat-card-content>
</mat-card>
