<mat-dialog-content>
  <form
    [formGroup]="form"
    (ngSubmit)="createUser()"
    class="left-0 right-0 mx-auto w-[95%] mt-[10px]"
  >
    <h1>Crear usuario</h1>
    <mat-form-field class="w-full mb-[5px] mt-4">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" formControlName="userName" />
      <mat-error>El campo es <strong>requerido</strong></mat-error>
    </mat-form-field>
    <mat-form-field class="w-full mb-[5px]">
      <mat-label>Correo</mat-label>
      <input matInput type="text" formControlName="email" />
      <mat-error>El campo es <strong>requerido</strong></mat-error>
    </mat-form-field>
    <mat-form-field class="w-full mb-[5px]">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error>El campo es <strong>requerido</strong></mat-error>
    </mat-form-field>
    <section class="flex justify-end w-full flex-wrap">
      <button
        mat-raised-button
        color="warn"
        type="button"
        class="ml-[3px] mb-[3px]"
        mat-dialog-close
      >
        Cancelar
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="ml-[3px] mb-[3px]"
        [disabled]="form.invalid"
      >
        Crear usuario
      </button>
    </section>
  </form>
</mat-dialog-content>
