<section class="flex justify-between">
  <h2 class="title">Biblioteca de libros</h2>
  <button mat-raised-button routerLink="Create">Agregar Libro</button>
</section>
<section>
  <mat-form-field class="w-full">
    <mat-label>Buscar</mat-label>
    <input matInput type="text" placeholder="Buscar" />
  </mat-form-field>
</section>
<mat-card class="w-[300px]">
  <mat-card-header>
    <mat-card-title>Libro 1</mat-card-title>
    <mat-card-subtitle>Subtitulo</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Book Home</p>
  </mat-card-content>
</mat-card>
